.link {
  text-decoration: none;
}

.link-acht-blue {
  color: $link-color;
  transition: 0.3s ease all;
  border-bottom: 2px solid white;
  &:hover{
    color: $link-color-hover;
    border-bottom: 2px solid $link-color-hover;
  }
}

button {
    border: 0px solid transparent;
    background: transparent;
}

.form-block {
    position: relative;
}

.register_user_error {
    position: absolute;
    font-size: 12px;
    bottom: -24px;
    right: 0;
    color: red;
    &-b {
        border: 1px solid red !important;
    }
}
